.item{
    width: 100%;
    height:100%;
    // background-color: red;
    // background-position:33% 33%;
    // background-image: url(https://th.wallhaven.cc/lg/96/96qy3w.jpg)
    background-repeat: no-repeat;;
    border: 1px red solid;
    background-size:400px 320px;
}